.schedule_block{
	width: 856px;
	margin-bottom:25px;
}
.calender_block {
	text-align: left;
	width:100%;
	border-color:rgb(169, 169, 169);;
}

.date_head {
	background: #4387fd;
	padding: 20px 0px;
	width: 120px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	border-collapse: none;
	color: black;
	text-decoration: none;
	font-weight: bold;
	background-color: #d9dddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#d9dddd),
		to(#c6c3c3));
	background-image: -webkit-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: -moz-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: -ms-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: -o-linear-gradient(top, #d9dddd, #c6c3c3);
	background-image: linear-gradient(to bottom, #d9dddd, #c6c3c3);
	/*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#d9dddd, endColorstr=#c6c3c3);*/
}

.hidden_date{
	padding: 20px 0px;
	width: 120px;
	text-align: center;
	
	font-weight: bold;
	font-size: 15px;
	border-collapse: none;
	color: #8D99A5;
	text-decoration: none;
	
	font-weight: bold;
	background-color: #f4f5f5;
	
}

.date_block {
	padding: 20px 0px;
	width: 120px;
	text-align: center;
	
	font-weight: bold;
	font-size: 15px;
	border-collapse: none;
	color: #34495E;
	text-decoration: none;
	cursor:pointer;
	
	font-weight: bold;
	background-color: #f4f5f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5),
		to(#dfdddd));
	background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
/*	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#f4f5f5, endColorstr=#dfdddd);*/
}

.date_block input[type='checkbox']{
	position:absolute;
	visibility: hidden;
	width:0px;
	height:0px;
}

.date_block:hover {
	color: white;
	background-color: #4387fd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4387fd),
		to(#3964AD));
	background-image: -webkit-linear-gradient(top, #4387fd, #3964AD);
	background-image: -moz-linear-gradient(top, #4387fd, #3964AD);
	background-image: -ms-linear-gradient(top, #4387fd, #3964AD);
	background-image: -o-linear-gradient(top, #4387fd, #3964AD);
	background-image: linear-gradient(to bottom, #4387fd, #3964AD);
	/*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#4387fd, endColorstr=#3964AD);*/
}

.date_select {
	color: white;
	background-color: #4387fd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4387fd),
		to(#3964AD));
	background-image: -webkit-linear-gradient(top, #4387fd, #3964AD);
	background-image: -moz-linear-gradient(top, #4387fd, #3964AD);
	background-image: -ms-linear-gradient(top, #4387fd, #3964AD);
	background-image: -o-linear-gradient(top, #4387fd, #3964AD);
	background-image: linear-gradient(to bottom, #4387fd, #3964AD);
/*	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#4387fd, endColorstr=#3964AD);*/
}

.manage_block{
	text-align:left;
	padding:8px 0px;
	margin-bottom:15px;
	border-bottom:solid 2px green;
	
}

.manage_block select{
	font-size:25px;
	padding:5px 15px;
	width:150px;
}

.manage_block .action{
	float:right;
	margin:2px 1px;
	font-weight:bold;
	font-size:13px;
	color:white;
	background-image: -webkit-linear-gradient(top, #4387fd, #3964AD);
	background-image: -moz-linear-gradient(top, #4387fd, #3964AD);
	background-image: -ms-linear-gradient(top, #4387fd, #3964AD);
	background-image: -o-linear-gradient(top, #4387fd, #3964AD);
	background-image: linear-gradient(to bottom, #4387fd, #3964AD);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#4387fd, endColorstr=#3964AD);
	padding:9px 25px;
	border-radius:3px;
	
}

.manage_block h4{
	font-size:16px;
	margin:10px 0px;
	display:inline-block;
}

.shift_block{
	padding:4px 0px;
	text-align: center;
	font-size: 12px;
	border-collapse: none;
	color: #0066FF;
	text-decoration: none;
	
	background-color: #f4f5f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5),
		to(#dfdddd));
	background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
	background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
	/*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr=#f4f5f5, endColorstr=#dfdddd);*/
}
.shift_block td{
	padding:10px 5px;
}
.shift_block select{
	font-size:19px;
	width:380px;
	padding:5px;
	margin:10px;
}
.shift_block label{
	font-weight: bold;
	color: #34495E;
	font-size: 15px;
	display:block;
}
.schedule_block h3{
	float:left;
	display:block;;
	color:#0066FF;
	margin:0px;
	font-size:17px;
}


