.box_container{
    width:85%;
    display:inline-block;
    border:solid 1px gray;
}
.box_header{
    overflow:auto;
    position:relative;

    background-color: #dfdddd;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5),
        to(#dfdddd));
    background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
    background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);
    border-bottom:solid 1px gray;

}
.box_header h3{
    float:none;
    width:auto;
    height:30px;
    line-height:30px;
    text-align:left;
    font-size:15px;
    padding:5px 0px;
    margin:0px;
    margin-left:13px;
}



.list{
    display:inline-block;
    vertical-align:top;
    width:40%;
    border:solid 1px gray;
}
.list .mem_search{
    display:block;
    margin:0px;
    border:0px;
    border-bottom:solid 1px gray;
    padding:5px;
    width:97%;	
    outline:0;
}
.team_box{	
    vertical-align:top;
    display:inline-block;
    text-align:left;
    padding:0px;
    margin:0px;	
    width:13%;

}
#vteam,#vloc_type{
    text-transform:uppercase;
}
#vteam{
    font-size:14px;
}
.team_box li {
    list-style-type: none;
}
.team_box li a{
    display:block;
    cursor:pointer;
    padding:5px 12px;
    outline:0;
    border:solid 1px gray;
    margin:0px 0px 5px 12px;
}

.team_box li:nth-child(3n+1) a{

    -moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
    box-shadow:inset 0px 1px 0px 0px #54a3f7;
    background-color:#007dc1;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #124d77;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #154682;
}

.team_box li:nth-child(3n) a{
    -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
    -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
    box-shadow:inset 0px 1px 0px 0px #9acc85;
    background-color:#74ad5a;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #3b6e22;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #92b879;
}

.team_box li:nth-child(3n-1) a{
    -moz-box-shadow:inset 0px 1px 0px 0px #fbafe3;
    -webkit-box-shadow:inset 0px 1px 0px 0px #fbafe3;
    box-shadow:inset 0px 1px 0px 0px #fbafe3;
    background-color:#ff5bb0;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #ee1eb5;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #c70067;
}


.team_box li:nth-child(3n):hover a{
    background-color:#68a54b;
}
.team_box li:nth-child(3n):active a{
    position:relative;
    top:1px;
}

.team_box li:nth-child(3n-1):hover a{
    background-color:#ef027d;
}
.team_box li:nth-child(3n-1):active a{
    position:relative;
    top:1px;
}



.team_box li:nth-child(3n+1):hover a{
    background-color:#0061a7;
}
.team_box li:nth-child(3n+1):active a{
    position:relative;
    top:1px;
}

.box_body{

    background:white;
    text-align:left;
    padding:12px;
    overflow:hidden;
}

.member_list{
    display:inline-block;
    width:100%;
    padding:0px;
    margin:0px;
    vertical-align:top;
    overflow-y:scroll;
    overflow-x:hidden;
    height:429px;
}

.member_list li{
    margin:0px;
    display:block;
    padding:8px 7px;
    margin-right:4px;
    border:solid 1px gray;
    border-top:0px;
    border-left:0px;
    cursor:pointer;
    font-weight:bold;
}
.member_list li:nth-child(2n+1){
    background:#EFEFEF;
}

.member_list li:last-child{
    border-bottom:solid 1px gray;
}
.member_list li:hover{
    background-color: rgb(189, 219, 250); 
    cursor: pointer;  
    text-decoration: none; 
}

.member_bio{
    float:right;
    width:58%;
    height:456px;
    border:solid 1px gray;
    display:none;
}

.block_title{
    margin:8px;
}

.block_title img{
    display:inline-block;
    width:100px;
    height:100px;
    margin-right:11px;
    border:solid 1px gray;
}
.block_title h3{
    width:100%;
    font-size:19px;
}

.bio_table{
    width:95%;
    margin:8px;
}
.bio_table td{
    padding:13px 5px;
    border-bottom:solid 1px gray;
    font-size:12px;
}
.bio_table tr td:first-child{
    font-weight:bold;
    width:150px;
}
.add_form{
    width:100%;
}
.add_form tr td{
    padding:9px;
    font-size: 12px;
}
.add_form tr td:first-child{
    width:17%;	
    font-weight:bold;
}
.add_form tr td:nth-child(2) {
    width:40%;
}
.add_form tr td:nth-child(2) select,input{
    width:97%;
    padding:5px;
}

.register-switch {
    height: 32px;
    margin-bottom: 15px;
    padding: 4px;
    background: #6db244;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(top, #60a83a, #7dbe52);
    background-image: -moz-linear-gradient(top, #60a83a, #7dbe52);
    background-image: -o-linear-gradient(top, #60a83a, #7dbe52);
    background-image: linear-gradient(to bottom, #60a83a, #7dbe52);
    -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
}

.register-switch-input {
    display: none;
}

.register-switch-label {
    float: left;
    width: 50%;
    line-height: 32px;
    color: white;
    text-align: center;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.register-switch-input:checked + .register-switch-label {
    font-weight: 500;
    color: #434248;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
    background: white;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(top, #fefefe, #eeeeee);
    background-image: -moz-linear-gradient(top, #fefefe, #eeeeee);
    background-image: -o-linear-gradient(top, #fefefe, #eeeeee);
    background-image: linear-gradient(to bottom, #fefefe, #eeeeee);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}
